{% extends 'base.html' %}

{% block title %}System Admin Edit Clinic Admin - MyHealth{% endblock title %}

{% block content %}
<section class="page-section" id="doctoroverview">
  <div class="container">
    <div style="min-height: 50px;"></div>
    <div>
      <h3 class="section-heading text-uppercase">Edit Clinic Admin</h3>
    </div>
    <div class="row">
      <form class="doctoredit" method="post">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}
        {{ form.clinic.hidden }}
        <table border="0" class="formdoctoreditschedule">
          <tbody>
            <tr>
              <td class="editscheduletdleft"><label for="id_endtime">Clinic</label>&nbsp;</td>
              <td class="editscheduletdright">
                <label style="color: white;">{{ clinic.name }}</label>
              </td>
            </tr>
            <tr>
              <td class="editscheduletdleft"><label for="id_date1">Username</label>&nbsp;</td>
              <td class="editscheduletdright">
                {{ form.username }}
              </td>
            </tr>
            <tr>
              <td class="editscheduletdleft"><label for="id_date1">Name</label>&nbsp;</td>
              <td class="editscheduletdright">
                {{ form.name }}
              </td>
            </tr>
            <!-- <tr>
              <td class="editscheduletdleft"><label for="id_date1">Password</label>&nbsp;</td>
              <td class="editscheduletdright">
                {{ form.username }}
              </td>
            </tr> -->
            
          </tbody>
        </table>
        <div class="row ">
          <div class="col-lg-5">
          <button type="submit" class="editsubmitbtn">Submit</button>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-5">
          <!-- <button type="button" class="editcancelbtn">Cancel</button> -->
          <a href="{% url 'sadminclinic' clinic.id %}" class="button editcancelbtn">Cancel</a>
        </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock content %}

   <!--  <main>
      <section class="page-section" id="doctoroverview">
        <div class="container">
          <div style="min-height: 50px;"></div>
          <div>
            <h3 class="section-heading text-uppercase">Edit Clinic Admin</h3>
          </div>
          <div class="row">
            <form class="doctoredit">
              <table border="0" class="formdoctoreditschedule">
                <tbody>
                  <tr>
                    <td class="editscheduletdleft"><label for="id_endtime">Clinic</label>&nbsp;</td>
                    <td class="editscheduletdright">
                      <label style="color: white;">Clinic 1</label>
                    </td>
                  </tr>
                  <tr>
                    <td class="editscheduletdleft"><label for="id_date1">Username</label>&nbsp;</td>
                    <td class="editscheduletdright">
                      <input type="text" name="blockoutreason" class="inputaddhf" value="philcoulson">
                    </td>
                  </tr>
                  <tr>
                    <td class="editscheduletdleft"><label for="id_date1">Name</label>&nbsp;</td>
                    <td class="editscheduletdright">
                      <input type="text" name="blockoutreason" class="inputaddhf" value="Phil Coulson">
                    </td>
                  </tr>
                  <tr>
                    <td class="editscheduletdleft"><label for="id_date1">Password</label>&nbsp;</td>
                    <td class="editscheduletdright">
                      <input type="text" name="blockoutreason" class="inputaddhf" value="#stevestevesteveiheartsteve0704">
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <div class="row ">
                <div class="col-lg-5">
                <button type="submit" class="editsubmitbtn">Submit</button>
              </div>
              <div class="col-lg-2">
              </div>
              <div class="col-lg-5">
                <button type="button" class="editcancelbtn">Cancel</button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main> -->