asgiref==3.4.1
boto3==1.19.9
botocore==1.22.9
convertdate==2.3.2
Django==3.2.8
django-environ==0.8.1
django-smart-selects==1.5.9
django-storages==1.12.3
hijri-converter==2.2.2
holidays==0.11.3.1
icalendar==4.0.9
jmespath==0.10.0
korean-lunar-calendar==0.2.1
Pillow==8.4.0
psycopg2-binary==2.9.1
PyMeeus==0.5.11
python-dateutil==2.8.2
pytz==2021.3
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
