ansicon==1.89.0
arrow==1.2.1
asgiref==3.4.1
awscli==1.21.8
awsebcli==3.20.2
blessed==1.19.0
boto3==1.19.9
botocore==1.22.9
cement==2.8.2
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.3
convertdate==2.3.2
Django==3.2.8
django-environ==0.8.1
django-picklefield==3.0.1
django-q==1.3.9
django-smart-selects==1.5.9
django-storages==1.12.3
docutils==0.15.2
future==0.16.0
git-remote-codecommit==1.15.1
gunicorn==20.1.0
hijri-converter==2.2.2
holidays==0.11.3.1
icalendar==4.0.9
idna==3.3
jinxed==1.1.0
jmespath==0.10.0
korean-lunar-calendar==0.2.1
pathspec==0.5.9
Pillow==8.4.0
psycopg2-binary==2.9.1
pyasn1==0.4.8
PyMeeus==0.5.11
pypiwin32==223
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
redis==3.5.3
requests==2.26.0
rsa==4.7.2
s3transfer==0.5.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.1.9
