{% extends 'base.html' %}

{% block title %}Clinic Admin Add Doctor - MyHealth{% endblock title %}

{% block content %}
<section class="page-section">
  <div class="container">
    <div style="min-height: 50px;"></div>
    <div>
      <h3 class="section-heading text-uppercase">Account Creation</h3>
    </div>
    <div class="row">
      <form class="doctoredit" method="post">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}
        {{ form.clinic.as_hidden }}
        <table border="0" class="formdoctoreditschedule">
          <tbody>
            <tr>
              <td class="editscheduletdleft">{{ form.username.label }}</td>
              <td class="editscheduletdright">{{ form.username }}</td>
            </tr>
            <tr>
              <td class="editscheduletdleft">{{ form.name.label }}</td>
              <td class="editscheduletdright">{{ form.name }}</td>
            </tr>
            <tr>
              <td class="editscheduletdleft">{{ form.password1.label }}</td>
              <td class="editscheduletdright">{{ form.password1 }}</td>
            </tr>
            <tr>
              <td class="editscheduletdleft">{{ form.password2.label }}</td>
              <td class="editscheduletdright">{{ form.password2 }}</td>
            </tr>
            <tr>
              <td class="editscheduletdleft">{{ form.specialty.label }}</td>
              <td class="editscheduletdright">{{ form.specialty }}</td>
            </tr>
          </tbody>
        </table>
        <div class="row ">
          <div class="col-lg-5">
            <button type="submit" class="editsubmitbtn">Add Account</button>
          </div>
          <div class="col-lg-2">
          </div>
          <div class="col-lg-5">
            <!-- <button type="button" class="editcancelbtn">Back</button> -->
            <a href="{% url 'cadmindocaccounts' %}" class="button editcancelbtn">Back</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}

    <!-- <main>
      <section class="page-section">
        <div class="container">
          <div style="min-height: 50px;"></div>
          <div>
            <h3 class="section-heading text-uppercase">Account Creation</h3>
          </div>
          <div class="row">
            <form class="doctoredit">
              <table border="0" class="formtableoverview">
                <tbody>
                  <tr>
                    <td class="tableoverviewleft"><label for="acct_username">Username: </label>&nbsp;</td>
                    <td><input class="overviewInput" type="text" id="acct_username" name="acct_username" ></td>
                  </tr>
                  <tr>
                    <td class="tableoverviewleft"><label for="acct_password">Password: </label>&nbsp;</td>
                    <td><input class="overviewInput" type="text" id="acct_password" name="acct_password"></td>
                  </tr>
                  <tr>
                    <td class="tableoverviewleft"><label for="acct_name">Name: </label>&nbsp;</td>
                    <td><input class="overviewInput" type="text" id="acct_name" name="acct_name"></td>
                  </tr>
                </tbody>
              </table>
              <div class="row ">
                <div class="col-lg-5">
                  <button type="submit" class="editsubmitbtn">Add Account</button>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-5">
                  <button type="button" class="editcancelbtn">Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main> -->