{% extends 'base.html' %}

{% block title %}Doctor Change Password - MyHealth{% endblock title %}

{% block content %}
<section class="page-section">
  <div class="container">
    <div style="min-height: 50px;"></div>
    <div>
      <h3 class="section-heading text-uppercase">Change Password</h3>
    </div>
    <div class="row">
      <div class="account">
        <form method="post">
          {% csrf_token %}
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
          <table border="0" class="editaccounttable">
            <tbody>
              <tr>
                <td class="tdleft"><label for="id_password1">Old Password</label></td>
                <td class="tdright">{{ form.oldpassword }}</td>
              </tr>
              <tr>
                <td class="tdleft"><label for="id_password2">New Password</label></td>
                <td class="tdright">{{ form.password }}</td>
              </tr>
              <tr>
                <td class="tdleft"><label for="id_password3">Confirm New Password</label></td>
                <td class="tdright">{{ form.password1 }}</td>
              </tr>
            </tbody>
          </table>
          <div class="row ">
            <div class="col-lg-5">
              <button type="submit" class="editsubmitbtn">Change Password</button>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-5">
              <!-- <button type="button" class="editcancelbtn">Cancel</button> -->
              <a href="{% url 'docaccount' %}" class="button editcancelbtn">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

   <!--  <main>
       <section class="page-section">
        <div class="container">
          <div style="min-height: 50px;"></div>
          <div>
            <h3 class="section-heading text-uppercase">Change Password</h3>
          </div>
          <div class="row">
            <div class="account">
              <form>
                <table border="0" class="editaccounttable">
                  <tbody>
                    <tr>
                      <td class="tdleft"><label for="id_password1">Old Password</label></td>
                      <td class="tdright"><input id="id_password1" type="password" name="password1" maxlength="100" required class="inputaccount"></td>
                    </tr>
                    <tr>
                      <td class="tdleft"><label for="id_password2">New Password</label></td>
                      <td class="tdright"><input id="id_password2" type="password" name="password2" maxlength="100" required class="inputaccount"></td>
                    </tr>
                    <tr>
                      <td class="tdleft"><label for="id_password3">Confirm New Password</label></td>
                      <td class="tdright"><input id="id_password3" type="password" name="password3" maxlength="100" required class="inputaccount"></td>
                    </tr>
                  </tbody>
                </table>
                <div class="row ">
                  <div class="col-lg-5">
                    <button type="submit" class="editsubmitbtn">Change Password</button>
                  </div>
                  <div class="col-lg-2">
                  </div>
                  <div class="col-lg-5">
                    <button type="button" class="editcancelbtn">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main> -->