{% extends 'base.html' %}

{% block title %}MyHealth - Your One Stop Portal for Medical Appoinment Booking{% endblock %}

<!-- {% block navbar %}
{% if user.is_authenticated %}
<ul class="navbar-nav text-lg-start ms-auto py-4 py-lg-0">
  <li class="nav-item"><a class="nav-link" href="#">Clinics</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Book An Appointment</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Appointments</a></li>
  <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Account</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
</ul>
{% else %}
<ul class="navbar-nav text-lg-start ms-auto py-4 py-lg-0">
  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Clinics</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">About Us</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Contact Us</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
</ul>
{% endif %}
{% endblock %} -->

{% block content %}
<section class="page-section">
  <div class="container">
    <div style="min-height: 100px;"></div>
      <div class="text-center">
          <h2 class="section-heading text-uppercase">MyHealth</h2>
          <h3 class="section-subheading text-muted">Your One Stop Portal for Medical Appoinment Booking</h3>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x main-icon"></i>
                  <i class="fas fa-clinic-medical fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Clinics</h4>
              <p class="text-muted">View the different Clinics (Hospital/Clinics) that are tied with us.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x main-icon"></i>
                  <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">About Us</h4>
              <p class="text-muted">Find out more about us and what we are about</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x main-icon"></i>
                  <i class="fas fa-id-card-alt fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Appointments</h4>
              <p class="text-muted">Book your appointments with different Clinics in your one-stop hub for health appointments</p>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block footer %}
<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-2 text-lg-start MyHealth">MyHealth</div>
          <div class="col-lg-4 text-lg-start">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
              <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Terms of Use</a></li>
            </ul>
          </div>
          <div class="col-lg-3 my-3 my-lg-0 text-lg-start">
            <div >Stay In Touch</div>
            <br>
            <div>
              <a class="btn btn-fb btn-social mx-2" href="#!"><i class="fab fa-facebook-square"></i></a>
              <a class="btn btn-twitter btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-linkin btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-whatsapp btn-social mx-2" href="#!"><i class="fab fa-whatsapp"></i></a>
            </div>
          </div>
          <div class="col-lg-3 text-lg-start">
              <div >Subscribe</div>
              <br>
              <div>
                <form method="post">
                  {% csrf_token %}
                  {{ subform.email }}
                  <button type="submit" class="Subscribebtn"><i class="far fa-envelope"></i></button>
                </form>
              </div>
          </div>
      </div>
  </div>
</footer>
{% endblock %}