container_commands:
  01_migrate:
    command: "python MyHealth/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python MyHealth/manage.py collectstatic --noinput"
  03_createsu:
    command: "python MyHealth/manage.py createsu"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MyHealth.settings"
    "PYTHONPATH": "/opt/python/current/app/MyHealth:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "MyHealth/MyHealth/wsgi.py"
    StaticFiles: "/static/=MyHealth/static/"