<div style="text-align: center;">
  <h1>Appointment Confirmed</h1>
  <br/>
  <h4>for {{ name }}</h4>
  <hr/>
  <table border="0" style="width:50%;margin: 0 auto;">
    <tr>
      <td style="width:30%">What</td>
      <td style="width:70%">Appointment: {{ appointment }}</td>
    </tr>
    <tr>
      <td style="width:30%">When</td>
      <td style="width:70%">{{ when }}</td>
    </tr>
    <tr>
      <td style="width:30%">Where</td>
      <td style="width:70%">{{ where }}<br>
      {{ room }}</td>
    </tr>
  </table>
</div>